/.direnv
/cog
.ipynb_checkpoints/
Untitled*.ipynb
__pycache__
.cog
.hypothesis/
build
dist
*.egg-info
pkg/dockerfile/embed/*
# Used by a vim plugin (projectionist)
.projections.json
.tox/
.venv/
.idea/
.DS_Store
docs/README.md
docs/CONTRIBUTING.md
venv
base-image
flag_file
_version.py
*_downscale.jpg
InTypeOutType.yaml
.env
upload
*.zip
tunnel_credential*.json
/predict_signature.yaml
/ubuntu_test
/ubuntu_test_1
/removebg
/removebg_ivry
/videotest
/ubuntu_test/tunnel_config.json
/ivry_test
/ivry
gradio_predict.py
/windows
/myenv
/comfyui_workflows
predict.py
predict_signature.json
/win10
/bug_test
/ui_test
/cat_girl