
#dropdown-container {
    position: relative;
    display: inline-block;
}


#tiny-refresh-btn {
    position: absolute;
    right: 10px;  
    top: 25%;  
    transform: translateY(-50%);
    width: 20px !important;
    height: 20px !important;
    font-size: 14px !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    cursor: pointer;
}